ValView/Web References/ValoViewAPI/ValoViewAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getTournamentSeriesByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tournamentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTournamentSeriesByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTournamentSeriesByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTournaments">
        <s:complexType />
      </s:element>
      <s:element name="getAllTournamentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTournamentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="attemptSignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="attemptSignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attemptSignInResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTournamentSeriesByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getTournamentSeriesByName" />
  </wsdl:message>
  <wsdl:message name="getTournamentSeriesByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getTournamentSeriesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTournamentsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTournaments" />
  </wsdl:message>
  <wsdl:message name="getAllTournamentsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTournamentsResponse" />
  </wsdl:message>
  <wsdl:message name="attemptSignInSoapIn">
    <wsdl:part name="parameters" element="tns:attemptSignIn" />
  </wsdl:message>
  <wsdl:message name="attemptSignInSoapOut">
    <wsdl:part name="parameters" element="tns:attemptSignInResponse" />
  </wsdl:message>
  <wsdl:portType name="ValoViewAPISoap">
    <wsdl:operation name="getTournamentSeriesByName">
      <wsdl:input message="tns:getTournamentSeriesByNameSoapIn" />
      <wsdl:output message="tns:getTournamentSeriesByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <wsdl:input message="tns:getAllTournamentsSoapIn" />
      <wsdl:output message="tns:getAllTournamentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <wsdl:input message="tns:attemptSignInSoapIn" />
      <wsdl:output message="tns:attemptSignInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValoViewAPISoap" type="tns:ValoViewAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTournamentSeriesByName">
      <soap:operation soapAction="http://tempuri.org/getTournamentSeriesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <soap:operation soapAction="http://tempuri.org/getAllTournaments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <soap:operation soapAction="http://tempuri.org/attemptSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValoViewAPISoap12" type="tns:ValoViewAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTournamentSeriesByName">
      <soap12:operation soapAction="http://tempuri.org/getTournamentSeriesByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <soap12:operation soapAction="http://tempuri.org/getAllTournaments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <soap12:operation soapAction="http://tempuri.org/attemptSignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValoViewAPI">
    <wsdl:port name="ValoViewAPISoap" binding="tns:ValoViewAPISoap">
      <soap:address location="https://localhost:44324/ValoViewAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="ValoViewAPISoap12" binding="tns:ValoViewAPISoap12">
      <soap12:address location="https://localhost:44324/ValoViewAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>