ValView/Web References/localhost/ValoViewAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getTournamentSeriesByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tournamentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTournamentSeriesByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTournamentSeriesByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTournaments">
        <s:complexType />
      </s:element>
      <s:element name="getAllTournamentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTournamentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTournamentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tournamentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTournamentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTournamentIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="attemptSignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="attemptSignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attemptSignInResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserDetailsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllPlayers">
        <s:complexType />
      </s:element>
      <s:element name="getAllPlayersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPlayersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPlayerDetailsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayerIdByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayerIdByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getPlayerIdByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPlayerInfo">
        <s:complexType />
      </s:element>
      <s:element name="getAllPlayerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPlayerInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRanks">
        <s:complexType />
      </s:element>
      <s:element name="getRanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRanksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTeams">
        <s:complexType />
      </s:element>
      <s:element name="getTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTeamsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDivisions">
        <s:complexType />
      </s:element>
      <s:element name="getDivisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDivisionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAgents">
        <s:complexType />
      </s:element>
      <s:element name="getAgentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAgentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoles">
        <s:complexType />
      </s:element>
      <s:element name="getRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRolesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePlayerResponse">
        <s:complexType />
      </s:element>
      <s:element name="editPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="team" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rank" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="division" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mainRole" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secRole" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mainAgent" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPlayerResponse">
        <s:complexType />
      </s:element>
      <s:element name="addNewPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="team" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rank" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="division" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mainRole" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secRole" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mainAgent" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewPlayerResponse">
        <s:complexType />
      </s:element>
      <s:element name="getTeamInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTeamInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTeamInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTeamData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTeamDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTeamDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegions">
        <s:complexType />
      </s:element>
      <s:element name="getRegionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRegionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removePlayerFromTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removePlayerFromTeamResponse">
        <s:complexType />
      </s:element>
      <s:element name="addPlayerToTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="playerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addPlayerToTeamResponse">
        <s:complexType />
      </s:element>
      <s:element name="addTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teamLogo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addTeamResponse">
        <s:complexType />
      </s:element>
      <s:element name="getTeamIdByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTeamIdByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTeamIdByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTeamResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateTeamDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="teamName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teamLogoUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateTeamDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="getTournamentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTournamentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTournamentInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTournamentSeriesByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getTournamentSeriesByName" />
  </wsdl:message>
  <wsdl:message name="getTournamentSeriesByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getTournamentSeriesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTournamentsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTournaments" />
  </wsdl:message>
  <wsdl:message name="getAllTournamentsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTournamentsResponse" />
  </wsdl:message>
  <wsdl:message name="getTournamentIdSoapIn">
    <wsdl:part name="parameters" element="tns:getTournamentId" />
  </wsdl:message>
  <wsdl:message name="getTournamentIdSoapOut">
    <wsdl:part name="parameters" element="tns:getTournamentIdResponse" />
  </wsdl:message>
  <wsdl:message name="attemptSignInSoapIn">
    <wsdl:part name="parameters" element="tns:attemptSignIn" />
  </wsdl:message>
  <wsdl:message name="attemptSignInSoapOut">
    <wsdl:part name="parameters" element="tns:attemptSignInResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserDetails" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPlayersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPlayers" />
  </wsdl:message>
  <wsdl:message name="getAllPlayersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="getPlayerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getPlayerDetails" />
  </wsdl:message>
  <wsdl:message name="getPlayerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getPlayerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getPlayerIdByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getPlayerIdByName" />
  </wsdl:message>
  <wsdl:message name="getPlayerIdByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getPlayerIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPlayerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="getAllPlayerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getRanksSoapIn">
    <wsdl:part name="parameters" element="tns:getRanks" />
  </wsdl:message>
  <wsdl:message name="getRanksSoapOut">
    <wsdl:part name="parameters" element="tns:getRanksResponse" />
  </wsdl:message>
  <wsdl:message name="getTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:getTeams" />
  </wsdl:message>
  <wsdl:message name="getTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:getTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="getDivisionsSoapIn">
    <wsdl:part name="parameters" element="tns:getDivisions" />
  </wsdl:message>
  <wsdl:message name="getDivisionsSoapOut">
    <wsdl:part name="parameters" element="tns:getDivisionsResponse" />
  </wsdl:message>
  <wsdl:message name="getAgentsSoapIn">
    <wsdl:part name="parameters" element="tns:getAgents" />
  </wsdl:message>
  <wsdl:message name="getAgentsSoapOut">
    <wsdl:part name="parameters" element="tns:getAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="getRolesSoapIn">
    <wsdl:part name="parameters" element="tns:getRoles" />
  </wsdl:message>
  <wsdl:message name="getRolesSoapOut">
    <wsdl:part name="parameters" element="tns:getRolesResponse" />
  </wsdl:message>
  <wsdl:message name="deletePlayerSoapIn">
    <wsdl:part name="parameters" element="tns:deletePlayer" />
  </wsdl:message>
  <wsdl:message name="deletePlayerSoapOut">
    <wsdl:part name="parameters" element="tns:deletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="editPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:editPlayer" />
  </wsdl:message>
  <wsdl:message name="editPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:editPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="addNewPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:addNewPlayer" />
  </wsdl:message>
  <wsdl:message name="addNewPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:addNewPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="getTeamInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getTeamInfo" />
  </wsdl:message>
  <wsdl:message name="getTeamInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getTeamInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getTeamDataSoapIn">
    <wsdl:part name="parameters" element="tns:getTeamData" />
  </wsdl:message>
  <wsdl:message name="getTeamDataSoapOut">
    <wsdl:part name="parameters" element="tns:getTeamDataResponse" />
  </wsdl:message>
  <wsdl:message name="getRegionsSoapIn">
    <wsdl:part name="parameters" element="tns:getRegions" />
  </wsdl:message>
  <wsdl:message name="getRegionsSoapOut">
    <wsdl:part name="parameters" element="tns:getRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="removePlayerFromTeamSoapIn">
    <wsdl:part name="parameters" element="tns:removePlayerFromTeam" />
  </wsdl:message>
  <wsdl:message name="removePlayerFromTeamSoapOut">
    <wsdl:part name="parameters" element="tns:removePlayerFromTeamResponse" />
  </wsdl:message>
  <wsdl:message name="addPlayerToTeamSoapIn">
    <wsdl:part name="parameters" element="tns:addPlayerToTeam" />
  </wsdl:message>
  <wsdl:message name="addPlayerToTeamSoapOut">
    <wsdl:part name="parameters" element="tns:addPlayerToTeamResponse" />
  </wsdl:message>
  <wsdl:message name="addTeamSoapIn">
    <wsdl:part name="parameters" element="tns:addTeam" />
  </wsdl:message>
  <wsdl:message name="addTeamSoapOut">
    <wsdl:part name="parameters" element="tns:addTeamResponse" />
  </wsdl:message>
  <wsdl:message name="getTeamIdByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getTeamIdByName" />
  </wsdl:message>
  <wsdl:message name="getTeamIdByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getTeamIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTeamSoapIn">
    <wsdl:part name="parameters" element="tns:deleteTeam" />
  </wsdl:message>
  <wsdl:message name="deleteTeamSoapOut">
    <wsdl:part name="parameters" element="tns:deleteTeamResponse" />
  </wsdl:message>
  <wsdl:message name="updateTeamDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:updateTeamDetails" />
  </wsdl:message>
  <wsdl:message name="updateTeamDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:updateTeamDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getTournamentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getTournamentInfo" />
  </wsdl:message>
  <wsdl:message name="getTournamentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getTournamentInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ValoViewAPISoap">
    <wsdl:operation name="getTournamentSeriesByName">
      <wsdl:input message="tns:getTournamentSeriesByNameSoapIn" />
      <wsdl:output message="tns:getTournamentSeriesByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <wsdl:input message="tns:getAllTournamentsSoapIn" />
      <wsdl:output message="tns:getAllTournamentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTournamentId">
      <wsdl:input message="tns:getTournamentIdSoapIn" />
      <wsdl:output message="tns:getTournamentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <wsdl:input message="tns:attemptSignInSoapIn" />
      <wsdl:output message="tns:attemptSignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <wsdl:input message="tns:getUserDetailsSoapIn" />
      <wsdl:output message="tns:getUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPlayers">
      <wsdl:input message="tns:getAllPlayersSoapIn" />
      <wsdl:output message="tns:getAllPlayersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <wsdl:input message="tns:getPlayerDetailsSoapIn" />
      <wsdl:output message="tns:getPlayerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPlayerIdByName">
      <wsdl:input message="tns:getPlayerIdByNameSoapIn" />
      <wsdl:output message="tns:getPlayerIdByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPlayerInfo">
      <wsdl:input message="tns:getAllPlayerInfoSoapIn" />
      <wsdl:output message="tns:getAllPlayerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRanks">
      <wsdl:input message="tns:getRanksSoapIn" />
      <wsdl:output message="tns:getRanksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTeams">
      <wsdl:input message="tns:getTeamsSoapIn" />
      <wsdl:output message="tns:getTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDivisions">
      <wsdl:input message="tns:getDivisionsSoapIn" />
      <wsdl:output message="tns:getDivisionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAgents">
      <wsdl:input message="tns:getAgentsSoapIn" />
      <wsdl:output message="tns:getAgentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <wsdl:input message="tns:getRolesSoapIn" />
      <wsdl:output message="tns:getRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePlayer">
      <wsdl:input message="tns:deletePlayerSoapIn" />
      <wsdl:output message="tns:deletePlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editPlayer">
      <wsdl:input message="tns:editPlayerSoapIn" />
      <wsdl:output message="tns:editPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNewPlayer">
      <wsdl:input message="tns:addNewPlayerSoapIn" />
      <wsdl:output message="tns:addNewPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTeamInfo">
      <wsdl:input message="tns:getTeamInfoSoapIn" />
      <wsdl:output message="tns:getTeamInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTeamData">
      <wsdl:input message="tns:getTeamDataSoapIn" />
      <wsdl:output message="tns:getTeamDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <wsdl:input message="tns:getRegionsSoapIn" />
      <wsdl:output message="tns:getRegionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removePlayerFromTeam">
      <wsdl:input message="tns:removePlayerFromTeamSoapIn" />
      <wsdl:output message="tns:removePlayerFromTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addPlayerToTeam">
      <wsdl:input message="tns:addPlayerToTeamSoapIn" />
      <wsdl:output message="tns:addPlayerToTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addTeam">
      <wsdl:input message="tns:addTeamSoapIn" />
      <wsdl:output message="tns:addTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTeamIdByName">
      <wsdl:input message="tns:getTeamIdByNameSoapIn" />
      <wsdl:output message="tns:getTeamIdByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <wsdl:input message="tns:deleteTeamSoapIn" />
      <wsdl:output message="tns:deleteTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateTeamDetails">
      <wsdl:input message="tns:updateTeamDetailsSoapIn" />
      <wsdl:output message="tns:updateTeamDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTournamentInfo">
      <wsdl:input message="tns:getTournamentInfoSoapIn" />
      <wsdl:output message="tns:getTournamentInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValoViewAPISoap" type="tns:ValoViewAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTournamentSeriesByName">
      <soap:operation soapAction="http://tempuri.org/getTournamentSeriesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <soap:operation soapAction="http://tempuri.org/getAllTournaments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournamentId">
      <soap:operation soapAction="http://tempuri.org/getTournamentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <soap:operation soapAction="http://tempuri.org/attemptSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPlayers">
      <soap:operation soapAction="http://tempuri.org/getAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <soap:operation soapAction="http://tempuri.org/getPlayerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerIdByName">
      <soap:operation soapAction="http://tempuri.org/getPlayerIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPlayerInfo">
      <soap:operation soapAction="http://tempuri.org/getAllPlayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRanks">
      <soap:operation soapAction="http://tempuri.org/getRanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeams">
      <soap:operation soapAction="http://tempuri.org/getTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivisions">
      <soap:operation soapAction="http://tempuri.org/getDivisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAgents">
      <soap:operation soapAction="http://tempuri.org/getAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <soap:operation soapAction="http://tempuri.org/getRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlayer">
      <soap:operation soapAction="http://tempuri.org/deletePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPlayer">
      <soap:operation soapAction="http://tempuri.org/editPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewPlayer">
      <soap:operation soapAction="http://tempuri.org/addNewPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamInfo">
      <soap:operation soapAction="http://tempuri.org/getTeamInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamData">
      <soap:operation soapAction="http://tempuri.org/getTeamData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <soap:operation soapAction="http://tempuri.org/getRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removePlayerFromTeam">
      <soap:operation soapAction="http://tempuri.org/removePlayerFromTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayerToTeam">
      <soap:operation soapAction="http://tempuri.org/addPlayerToTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTeam">
      <soap:operation soapAction="http://tempuri.org/addTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdByName">
      <soap:operation soapAction="http://tempuri.org/getTeamIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <soap:operation soapAction="http://tempuri.org/deleteTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeamDetails">
      <soap:operation soapAction="http://tempuri.org/updateTeamDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournamentInfo">
      <soap:operation soapAction="http://tempuri.org/getTournamentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValoViewAPISoap12" type="tns:ValoViewAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTournamentSeriesByName">
      <soap12:operation soapAction="http://tempuri.org/getTournamentSeriesByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTournaments">
      <soap12:operation soapAction="http://tempuri.org/getAllTournaments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournamentId">
      <soap12:operation soapAction="http://tempuri.org/getTournamentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attemptSignIn">
      <soap12:operation soapAction="http://tempuri.org/attemptSignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap12:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPlayers">
      <soap12:operation soapAction="http://tempuri.org/getAllPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <soap12:operation soapAction="http://tempuri.org/getPlayerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerIdByName">
      <soap12:operation soapAction="http://tempuri.org/getPlayerIdByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPlayerInfo">
      <soap12:operation soapAction="http://tempuri.org/getAllPlayerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRanks">
      <soap12:operation soapAction="http://tempuri.org/getRanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeams">
      <soap12:operation soapAction="http://tempuri.org/getTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivisions">
      <soap12:operation soapAction="http://tempuri.org/getDivisions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAgents">
      <soap12:operation soapAction="http://tempuri.org/getAgents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <soap12:operation soapAction="http://tempuri.org/getRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlayer">
      <soap12:operation soapAction="http://tempuri.org/deletePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPlayer">
      <soap12:operation soapAction="http://tempuri.org/editPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewPlayer">
      <soap12:operation soapAction="http://tempuri.org/addNewPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamInfo">
      <soap12:operation soapAction="http://tempuri.org/getTeamInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamData">
      <soap12:operation soapAction="http://tempuri.org/getTeamData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <soap12:operation soapAction="http://tempuri.org/getRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removePlayerFromTeam">
      <soap12:operation soapAction="http://tempuri.org/removePlayerFromTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayerToTeam">
      <soap12:operation soapAction="http://tempuri.org/addPlayerToTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTeam">
      <soap12:operation soapAction="http://tempuri.org/addTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdByName">
      <soap12:operation soapAction="http://tempuri.org/getTeamIdByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <soap12:operation soapAction="http://tempuri.org/deleteTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeamDetails">
      <soap12:operation soapAction="http://tempuri.org/updateTeamDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournamentInfo">
      <soap12:operation soapAction="http://tempuri.org/getTournamentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValoViewAPI">
    <wsdl:port name="ValoViewAPISoap" binding="tns:ValoViewAPISoap">
      <soap:address location="https://localhost:44324/ValoViewAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="ValoViewAPISoap12" binding="tns:ValoViewAPISoap12">
      <soap12:address location="https://localhost:44324/ValoViewAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>